<nav class="navbar navbar-expand navbar-light bg-dark">
  <div class="container-fluid">
    <a class="ms-4 navbar-brand text-white fw-bold" routerLink="">RECIPE BOOK</a>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="m-4 text-decoration-none link-warning text-white" routerLink="/recipes">Recipes</a></li>
        <li><a class="ms-0 me-4 text-decoration-none link-warning text-white" routerLink="/shoplist">Shopping List</a></li>
      </ul>
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1"
                dropdownToggle aria-expanded="false">
          Manage
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item">Action</a></li>
          <li><a class="dropdown-item">Another action</a></li>
          <li><a class="dropdown-item">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
